/* Text Preset 1 */
@mixin text-preset-1 {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 36px;
  letter-spacing: 0.25px;
}

/* Text Preset 1 mobile */
@mixin text-preset-1-mobile {
  @include text-preset-1;
  font-size: 24px;
  letter-spacing: 0.17px;
}

@mixin text-preset-1-semibold {
  @include text-preset-1;
  font-weight: 600;
}

@mixin text-preset-1-mobile-semibold {
  @include text-preset-1-mobile;
  font-weight: 600;
}

/* Text Preset 2 */
@mixin text-preset-2 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  letter-spacing: 0.1px;
  line-height: 25px;
}

/* Text Preset 3 */
@mixin text-preset-3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2rem;
}

/* Text Preset 4 */
@mixin text-preset-4 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.3rem;
  letter-spacing: 0.009rem;
  line-height: 2.3rem;
}
